<div id="groupViewComponent" class="d-flex flex-column justify-content-end">
    <div id="groupNav" class="d-flex flex-row justify-content-start">
        <div id="logo">
            3813ICT
        </div>
        <ul class="list-group list-group-flush list-group-horizontal flex-grow-1">
            <li class="list-group-item group-view-item active">Super</li>
            <li class="list-group-item group-view-item">Admin</li>
            <li class="list-group-item group-view-item">User</li>
        </ul>
        <div id="logoutButton">
            <a class="btn btn-primary">Logout</a>
        </div>
    </div>
    <div id="groupView" class="d-flex flex-grow-1">
        <div id="contentChannels">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Channel #1
                </a>
                <a href="#" class="list-group-item list-group-item-action">Channel #2</a>
                <a href="#" class="list-group-item list-group-item-action">Channel #3</a>
                <a href="#" class="list-group-item list-group-item-action">Channel #4</a>
            </div>
        </div>
        <div id="channelView" class="d-flex flex-column justify-content-end flex-grow-1">
            <ul id="messages" class="list-group list-group-flush">
                <li class="list-group-item">
                    <div id="messageAuthor">
                        Dylan Bowler
                    </div>
                    <div id="messageContent">
                        The first item
                    </div>
                </li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
            <div class="input-group mb-3" id="chatBox">
                <input type="text" class="form-control" placeholder="Type your message..." aria-label="message content" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
            </div>
        </div>
    </div>
</div>